/*
.tour_link {
	text-align: center;
}

.t_label {
	color: red;
	font-weight: bold;
}
*/

.t_separator {
	border-color: grey;
	height: 1px;
	width: 340px;
}

.t_sort_head {
	height: 2em;
	align-content: center;
	margin-top: 1em;
}

#h_tournament_board {
	background-image: url(../../img/background/card3_head.png);
	background-size: cover;
	border-radius: 4px;
	min-width:380px;
	width: 60%;
	height: auto;
	padding: 10px;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#h_tournament_aliasjoin {
	background-image: url(../../img/background/card3.png);
	background-size: cover;
	border-radius: 4px;
	width: 350px;
	height: 4em;
	padding: 30px;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#tour_detailsbox {
	background-color: black;
	border-radius: 4px;
	width: 240px;
	height: auto;
	padding: 5px;
	position: absolute;
	left: 72%;
	transform: translateX(-50%);
	top: 37%;
	color: gray;
}

#tpd_close, #tour_details_close {
	background-image: url(../../img/icon/close_white.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	height: 20px;
	width: 20px;
	border: none;
	margin-left: 90%;
}

#htb_search {
	position: relative;
	left: 2%;
	background-image: url(../../img/background/bar.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 30%;
	height: 2em;
	font-weight: bold;
	color: white;
}

#htb_search::placeholder {
	color: gray;
	font-weight: bold;
}

#htb_dropdown {
	position: relative;
	right: auto;
	left: 60%;
	transform: translateX(-90%);
	background-image: url(../../img/background/bar.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: gray;
}

#t_tournament {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#htb_filter {
	color: gray;
	font-weight: bold;
	background-image: url(../../img/background/bar.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 2px;
}

#htb_filter th {
	width: 25%;
	resize: none;
	overflow: hidden;
}

#htb_sep {
	margin-top: 1em;
}

#htb_info {
	width: 100%;
	height: 100%;
}

#htb_create_button {
	margin-left: 3%;
	color: white;
}

#htb_create_menu {
	position: absolute;
	top: 15%;
	left: 30%;
	background-color: gray;
	border-radius: 4px;
	height: 180px;
	width: 250px;
}

#hcm_create_menu_close {
	background-image: url(../../img/icon/close.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	height: 20px;
	width: 20px;
	border: none;
	margin-left: 90%;
}

#hcm_create_menu_create {
	position: relative;
	color: green;
	left: 50%;
	transform: translateX(-50%);
}

#hcm_name, #hcm_description, #hcm_start {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}


/*

[id^="t_joinbutton"] {
	width: 80px;
	height: 1.5em;
}

[id^="tour_detailsbox"] {
	position: absolute;
	height: 200px;
	width: 120px;
}

[id^="t_infobutton"] {
	width: 80px;
	height: 1.5em;
}

#t_alias {
	width: 40%;
	height: 2em;
	text-align: center;
	color: green;
	font-weight: bold;
	position: relative;
	left: 30%;
	margin-top: 1em;
	background-color: black;
	border-radius: 2px;
}

#t_alias::placeholder {
	color: green;
	font-weight: bold;
}
*/

/*
.t_info_border {
	position: relative;
	left: 32%;
	width: 15em;
	background-color: white;
	padding: 3px;
	border: 1px solid pink;
	border-radius: 15px;
}
*/
