#twr_board {
    background-image: url(../../img/background/card3_head.png);
    background-size: cover;
    border-radius: 4px;
    width: 700px;
    height: 600px;
    padding: 10px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

#tournament_player_details {
    z-index: 4;
    background-color: black;
	border-radius: 4px;
	width: 240px;
	height: auto;
	padding: 5px;
    position: absolute;
    left: 50%;
	transform: translateX(-50%);
	top: 25%;
	color: gray;
}

#twr_tour_name, #twr_tour_description, #twr_tour_start, #twr_tour_playernb, #twr_tour_status {
    margin: 0.5em 0;
    font-weight: bold;
    color: white;
}

#twr_tree {
    width: 400px;
    height: 400px;
}

#twr_back {
    align-self: flex-start;
    margin-left: 10px;
    margin-bottom: 1em;
    color: white;
}

#twr_ownerpanel_info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: red;
}

#twr_owner_panel {
    margin-top: auto;
}

#twr_ready {
    margin-top: 1em;
    color: green;
}

#twr_leave {
    color:yellow;
}