.h_upperpanel {
	min-width: 330px;
	max-width: 400px;
	height: 70px;
	position: relative;
	top: 1%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../ressource/bar.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 3px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 6px 4px;
}

#h_tohome {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/home.png);
	background-size: 100% 100%;
}

#h_tohome:hover {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/home_hover.png);
	background-size: 100% 100%;
}

#h_tohome:active {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/home_hover.png);
	background-size: 100% 100%;
	margin-top: 1px;
}

#h_to_myprofile {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/profile.png);
	background-size: 100% 100%;
}

#h_to_myprofile:hover {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/profile_hover.png);
	background-size: 100% 100%;
}

#h_to_myprofile:active {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/profile_hover.png);
	background-size: 100% 100%;
	margin-top: 1px;
}

#h_togame {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/game.png);
	background-size: 100% 100%;
}

#h_togame:hover {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/game_hover.png);
	background-size: 100% 100%;
}

#h_togame:active {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/game_hover.png);
	background-size: 100% 100%;
	margin-top: 1px;
}

#h_totournament {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/tournament.png);
	background-size: 100% 100%;
}

#h_totournament:hover {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/tournament_hover.png);
	background-size: 100% 100%;
}

#h_totournament:active {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/tournament_hover.png);
	background-size: 100% 100%;
	margin-top: 1px;
}

#h_logout {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/logout.png);
	background-size: 100% 100%;
}

#h_logout:hover {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/logout_hover.png);
	background-size: 100% 100%;
}

#h_logout:active {
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: none;
	background-image: url(../ressource/logout_hover.png);
	background-size: 100% 100%;
	margin-top: 1px;
}
