#inspectprofile {
    background-image: url(../../img/background/card2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 500px;
    width: 300px;
}

#ip_avatar {
    width: auto;
	height: auto;
	max-width: 80px;
	max-height: 80px;
}