#h_player_bar {
	background-color: #002f69;
	position: relative;
	height: 65px;
	margin-top: 60px;
	margin-bottom: 60px;
}

#hpb_player_img {
	display: inline-block;
	background-color: white;
	border-radius: 60px;
	position: relative;
	margin-top: -2em;
	left: 70px;
	width: auto;
	height: auto;
	max-width: 80px;
	max-height: 80px;
}

#hpb_username, #hpb_level {
	color: white;
	font-weight: bold;
}

#hpb_username {
	position: relative;
	top: -80px;
	left: 170px;
}

#hpb_level {
	position: relative;
    top: -56px;
    display: flex;
    justify-content: right;
    right: 300px;
}

/*
#hpb_div1 {
	position: relative;
	background-color: black;
	height: 1px;
}
*/

#h_scoreboard {
	background-image: url(../../img/background/card2.png);
	background-size: cover;
	border-radius: 4px;
	min-width:380px;
	width: 900px;
	height: 400px;
	max-height: 700px;
	padding: 10px;
	position: relative;	
	margin-left: auto;
	margin-right: auto;
}

#h_score {
	position: relative;
	width: 80%;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
}

#hs_filter {
	color: gray;
	font-weight: bold;
	background-image: url(../../img/background/bar2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 2px;
}

#hs_filter th {
	width: 20%;
	resize: none;
	overflow: hidden;
}

#hs_info {
	color: #AAAAAA;
}

#hs_info td {
	padding-left: 10px;
	border: 1px solid black;
}

#hs_info tr.win {
	background-color: green;
}

#hs_info tr.loss {
	background-color: red;
}