html {
	min-width: 700px;
}

body {
	background-image: url(../img/background/Background.png);
	background-size: 100% auto;
	font-family: sans-serif;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
}
