#twr_board {
    background-image: url(../../../img/background/card2.png);
    background-size: cover;
    border-radius: 4px;
    width: auto;
    height: auto;
    min-width: 700px;
    min-height: 600px;
    padding: 10px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

#tour_details_more {
    background-image: url(../../../img/icon/more2.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
}

#tpd_close {
    z-index: 2;
	background-image: url(../../../img/icon/close.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	height: 20px;
	width: 20px;
	border: none;
	margin-left: 85%;
    position: relative;
}

#tpd_details_header {
    margin: 3px;
    background-color: #202121;
    border-radius: 12px;
    width: 235px;
    height: 80px;
}

#tournament_player_details {
    font-weight: bold;
    z-index: 4;
    background-image: url(../../../img/background/card3.png);
    background-size: 100% 100%;
	border-radius: 4px;
	width: 240px;
	height: auto;
    max-height: 600px;
	padding: 5px;
    position: absolute;
    left: 50%;
	transform: translateX(-50%);
	top: 25%;
	color: gray;
    text-align: center;
    overflow: scroll;
}

#tournament_player_details h3 {
    position: relative;
    top: -18px;
    font-weight: bold;
}

#twr_basic_info {
    position: relative;
    top: 6%;
    text-align: center;
}

#twr_tour_name, #twr_tour_description, #twr_tour_start, #twr_tour_playernb, #twr_tour_status {
    margin: 0.5em 0;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

#twr_tree {
    width: 400px;
    height: 400px;
}

#twr_back, #twr_back_disabled {
    align-self: flex-start;
    margin-left: 10px;
    margin-bottom: 1em;
    color: white;
}

#twr_ownerpanel_info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: red;
}

#twr_owner_panel {
    margin-top: auto;
}

#twr_ready {
    margin-top: 1em;
    color: green;
}

#twr_leave {
    color:yellow;
}