#noticeInvitationPlayLayer {
    display: none;
    position: absolute;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 500px;

    background-color: #101720;
    border: 1px solid #3395ff;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    border-radius: 20px;
}

#avatarPlayerInvite {
    width: 50%;
    height: 100%;

    background-color: black;
    border-radius: 20px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
}

/* --------------------  -------------------- */
#noticeIvitationPlayPanel {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

/* --------------------  -------------------- */
#contentInvitationPlay {
    flex: 1;
    width: 90%;

    display: flex;
    flex-direction: column;

    color: #3395ff;
}

/* --------------------  -------------------- */
#acceptRejectBar {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    height: 70px;
    width: 100%;
}

#rejectInvitationPlayButton,
#acceptInvitationPlayButton {
    width: 90px;
    height: 50px;

    border-radius: 20px;
    border-color: #3395ff;
    background-color: #101720;

    display: flex;
    justify-content: center;
    align-items: center;
}

#rejectInvitationPlayButton:hover,
#acceptInvitationPlayButton:hover {
    transform: scale(1.2);
}

#rejectInvitationPlayButton:hover {
    background-color: red;
}

#acceptInvitationPlayButton:hover {
    background-color: greenyellow;
}

#rejectInvitationPlayButton > svg,
#acceptInvitationPlayButton > svg {
    height: 80%;
    width: auto;
}
