:root {
    --chat-list-width: 280px;
}

#chat {
    display: none;
    z-index: 7;
}

.hidden {
    display: none;
}

#c-notifications-window {/* NEED TO REPLACE THAT */
    z-index: 5;
    position: absolute;
    right: 20%;
    top: 5%;
    width: 30%;
    height: 50%;
    min-height: 320px;
    background-image: url(../../img/background/card3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: none;
    border-radius: 15px;
    border-color: red;
    color: white;
    padding: 0px 10px;
    z-index: 5;
}

#c-notifications-content { /* PLACE IN MIDDLE */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*
#c-notifications-window {
    position: absolute;
    right: 20%;
    top: 20%;
    margin: 12%;
    width: 30%;
    height: 50%;
    min-height: 320px;
    background-color: #333333;
    color: white;
}
*/

.button-decline {
    color:#f00;
}

#c-notifications-window .c-close-button {
    margin-left: 92%;
}

.notification {
    display: flex;
    justify-content: space-between;
}

#c-notification-count {
    position: absolute;
    left: 45px;
    bottom: 10px;
    background-color: red;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    width: fit-content;
    padding: 2px;
    min-width: 12px;
}

#c-find-new-friend-window {
    z-index: 10;
    position: absolute;
    top: 0%;
    right: 8%;
    margin: 12%;
    width: 30%;
    height: 50%;
    min-height: 320px;
    background-color: #333333;
    color: white;
}

#c-find-new-friend-window h3 {
    text-align: center;
    margin-bottom: 20px;
}

#c-find-new-friend-window input {
    margin-left: 20px;
    width: 60%;
}

#c-find-new-friend-window .c-close-button {
    position: absolute;
    right: 10px;
}

#c-find-new-friend-window .user-list {
    margin-top: 10px;
    padding: 10px;
    overflow-y: auto;
    max-height: 60%;
}

.user-avatar {
    object-fit: cover;
    width: 36px;
    height: 36px;
    clip-path: circle();
}

.c-user {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 4px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.c-user:hover {
    background-color: #46484C;
}

.user-name {
    padding-top: 6px;
    font-size: 1.2em;
}

#chat-list {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    padding: 30px;
    padding-top: 15px;
    color: #DDD;
    height: 100%;
    min-width: var(--chat-list-width);
    overflow: auto;
    box-sizing: border-box;
}

#chat-list h3 {
    text-align: center;
    padding-bottom: 12px;
}

.c-invite-match-button {
    background-image: url(../../img/chat/challenge.png);
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
}

.c-inspectprofile-button {
    background-image: url(../../img/chat/inspect.png);
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    margin-top: 8px;
}

.c-remove-friend-button {
    background-image: url(../../img/chat/remove.png);
    background-size: 100% 100%;
    width: 27px;
    height: 27px;
    background-color: transparent;
    border: none;
    margin-top: 7px;
}

#c-friends-div {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c-list-friend-status {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: solid black 1px;
    position: relative;
    bottom: 17px;
    left: 23px;
}

.c-list-friend-status.offline {
    background-color: red;
}

.c-list-friend-status.online {
    background-color: green;
}

#c-search-friend-list {
    position: fixed;
    bottom: 20px;
}

#c-show-notifications {
    display: inline-block;
}

#c-show-notifications-button,
#c-add-new-friend-button,
#c-hide-friend-list,
.c-invite-match-button,
.c-mute-button,
.c-unmute-button {
    display: inline-block;
    position: relative;
    margin-top: 3%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

#chat_upperpanel {
    z-index: 2;
    position: fixed;   
    top: 0;
    right: 0;
    background-color: #333;
    padding: 15px 40px 0 30px;
    color: #DDD;
    height: 65px;
    min-width: var(--chat-list-width);
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
}

#c-show-notifications-button {
    background-image: url(../../img/chat/bell.png);
    background-size: 100% 100%;
    left: 0%;
}

#c-show-notifications-button:hover {
    cursor: pointer;
}

#c-add-new-friend-button {
    background-image: url(../../img/chat/add.png);
    background-size: 100% 100%;
    left: 3%;
}

#c-add-new-friend-button:hover {
    cursor: pointer;
}

#c-hide-friend-list {
    background-image: url(../../img/chat/minimize.png);
    background-size: 100% 100%;
    left: 60%;
}

#c-hide-friend-list:hover {
    cursor: pointer;
}

.c-mute-button {
    background-image: url(../../img/chat/block-message.png);
    background-size: 100% 100%;
    bottom: 5px;
}

.c-unmute-button {
    background-image: url(../../img/chat/unblock-message.png);
    background-size: 100% 100%;
    bottom: 5px;
}

.chat-box {
    position: fixed;
    bottom: 0;
    left: 85%;
    transform: translateX(-85%);
    /*right: var(--chat-list-width);*/
    /*height: 20%;*/
    width: 320px;
}

.chat-box-header {
    background-color: #387FEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 30px;
}

.chat-box-header h3 {
    color: white;
}

.chat-box-body {
    background-color: white;
    border: 1px solid #ccc;
}

.c-close-button {
    background-color: transparent;
    border: none;
    color: #888;
    font-size: 30px;
    cursor: pointer;
    padding: 0;
}

.c-close-button:hover {
    color: #f00;
}

.chat-messages {
    overflow: hidden;
    height: 320px;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chat-bubble {
    max-width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.incoming {
    background-color: #f1f0f0;
    align-self: flex-start;
}

.outgoing {
    background-color: #387FEE;
    color: white;
    align-self: flex-end;
}

.chat-input {
    padding: 10px;
    background-color: #F0F0F0;
}

.chat-input input {
    width: calc(100% - 90px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-input button {
    width: 50px;
    padding: 8px;
    border: none;
    background-color: #387FEE;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}